body {
    font: 16px sans-serif;
    line-height: 1.35;
}

button {
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 2px 0;
    background: #ccc;
}

.group {
    margin-left: 8px;
}

.-rsx {
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
}
